@font-face {
	font-family: "Agbalumo-Regular";
	src: url("/fonts/Agbalumo-Regular.ttf");
}
.AboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
.Info_pation{
  text-align: start;
  width: 50%;
  color: #0A2472;
  font-family: 'Agbalumo-Regular';
  margin-left: 30px;
}
.Title{
  color: #0A2472;
  font-family: 'Agbalumo-Regular';
}
.container_text_image{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image{
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .container_text_image {
    flex-direction: column;
    align-items: center;
  }

  .Info_pation {
    width: 100%; 
    text-align: start;
  }

  .image {
    margin-top: 20px; 
  }
}
