
.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

.Title {
    color: #0A2472;
    font-family: 'Agbalumo-Regular';
}

.container_text_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container_project {
    display: flex;
    align-items: center;
    justify-content: center;
}
.textInfo {
    width: 50%;
    margin-top: 20px;
}

.textStyle {
    text-align: start;
    color: #0A2472;
    font-size: large;
    font-family: 'Agbalumo-Regular';
    margin-left: 30px;
    line-height: 25px;
}

.link {
    display: flex; 
    margin-top: 20px; 
    color: #0A2472;
    font-family: 'Agbalumo-Regular';
    cursor: pointer;
    align-items: center;
    gap: 3px; 
}
.link:hover {
    font-weight: 600;
    color: #001C55;
}
.textLink{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image_lang {
    display: flex;
    justify-content: center; 
    gap: 10px; 
  }
  
.imageContainer {
    width: 50px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #141B41; 
    border-radius: 50%; 
  }
  
.imageContainer img {
    max-width: 100%; 
    max-height: 100%; 
  }
.link_container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.video{
    width: 500px;
    height: 300px;
}
.imageContainer_reactNative{
    width: 50px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #141B41;
    border-radius: 50%;
}
.imageContainer_reactNative img {
    
    object-fit:cover;
}
@media (max-width: 768px) {
    .Projects {
      padding: 2rem 0;
    }
  
    
    .container_text_image {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-top: 50px;
      }
  
    .container_project {
        display: flex;
        flex-direction: column; 
        align-items: center;
      }
  
    .textInfo {
        width: 100%; 
        margin-top: 20px;
      }      
  
    .image_lang {
      gap: 5px;
    }
    .textLink {
        width: 100%; 
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
      }
  
   
    .video {
      width: 100%; 
      max-width: 500px; 
      max-height: 300px; 
    }
    
  }